.logo {
  &.box {
    color: #fff;
    background-color: var(--brand_clr__1--accent);
    border: 1px solid transparent;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--brand_clr__1);
    }
    &:active {
      background-color: #fff;
      color: var(--brand_clr__1--accent);
      border-color: var(--brand_clr__1--accent);
    }
  }
  & .logo_link {
    display: inline-block;

    font-family: 'Ralaway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    // color: #fff;
    white-space: nowrap;
    padding: 8px 16px;

    border: 1px solid transparent;
  }
}
