*, :before, :after {
  box-sizing: border-box;
}

html {
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: #0000;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  color: #212121;
  letter-spacing: .05em;
  background-color: #fff;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

.outline {
  outline: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}

.section {
  margin: 8px;
}

.section.--flex {
  flex-wrap: wrap;
  gap: 8px;
  display: flex;
}

.section__main {
  display: flex;
}

.container__market {
  max-width: 480px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
}

th, td {
  user-select: none;
  border: 0;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  user-select: none;
  cursor: pointer;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

:root {
  --brand_clr__1: #2175f3e6;
  --brand_clr__1--accent: #2175f3;
  --brand_clr__2: #fff;
  --brand_clr__2-hover: #e9e9e9;
  --background_clr__main: #fff;
  --zone-special_clr: #dbdbdb33;
  --text-clr__primary: #1a1a1a;
  --text-clr__secondary: #6b6b6b;
  --icon-clr__primary: gray;
  --tr-cell-bckgrnd_clr__even: #dadada7e;
  --tr-bckgrnd_clr__even: #dadada7e;
  --table-row-brdr-clr__primary: #c7c7c781;
  --tr-bckrnd-clr__hover: #89caff66;
  --td-bckrnd-clr__active: #89caffb3;
  --td-outline-clr: #89caff;
  --th-font-size__primary: 12px;
  --th-font-size__secondary: 14px;
  --th-font-weight: 700;
  --td-font-size__primary: 12px;
  --td-font-size__secondary: 14px;
  --btn-deciscon_clr__primary: #dbdbdb66;
  --btn-deciscon_clr__hover: #dbdbdb80;
  --btn-deciscon_clr__active: #dbdbdb;
  --header-shadow: 0px 0px 8px #00000080;
  --block-shadow: 0 0 8px #0003;
  --block-hdr-shadow: 0px 0px 5px #0003;
  --block-ftr-shadow: 0 0 5px #0003;
  --button-shadow-hover: 0px 1px 9px #0003;
  --button-shadow-active: 0px 1px 5px #0000001a;
  --brand-card_shadow: 0px 0px 6px #0000004d;
  --timing-function__main: 250ms cubic-bezier(.4, 0, .2, 1);
  --test-outline_d: 1px dashed tomato;
  --test-outline_s: 1px solid tomato;
}

.logo.box {
  color: #fff;
  background-color: var(--brand_clr__1--accent);
  border: 1px solid #0000;
}

.logo.box:hover, .logo.box:focus, .logo.box:focus-visible {
  background-color: var(--brand_clr__1);
}

.logo.box:active {
  color: var(--brand_clr__1--accent);
  border-color: var(--brand_clr__1--accent);
  background-color: #fff;
}

.logo .logo_link {
  letter-spacing: .05em;
  white-space: nowrap;
  border: 1px solid #0000;
  padding: 8px 16px;
  font-family: Ralaway, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
}

.header {
  z-index: 100;
  background-color: var(--brand_clr__2);
  box-shadow: var(--header-shadow);
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
}

.menu__box {
  height: 44px;
  padding: 2px 0;
  display: block;
  position: relative;
}

.menu__box:hover .nav__list, .menu__box:focus .nav__list, .menu__box:active .nav__list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: scaleX(1);
}

.menu__box .nav__list {
  min-width: 230px;
  box-shadow: var(--header-shadow);
  transform-origin: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform var(--timing-function__main), opacity var(--timing-function__main), visibility var(--timing-function__main);
  background-color: #ffffffd9;
  padding: 9px 1px;
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  transform: scaleX(0);
}

.menu__box .nav__link {
  letter-spacing: .06em;
  transition: all var(--timing-function__main);
  border: 1px solid #0000;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.2;
  display: block;
}

.menu__box .nav__link:hover {
  color: #fff;
  background-color: var(--brand_clr__1--accent);
}

.menu__box .nav__link:active {
  color: var(--brand_clr__1--accent);
  border-color: var(--brand_clr__1--accent);
  background-color: #0000;
}

.block {
  min-height: 200px;
  max-height: 400px;
  min-width: 250px;
  box-shadow: var(--block-shadow);
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: hidden;
}

.block__tittle {
  color: #fff;
  line-height: 1.3;
}

.block__link {
  white-space: nowrap;
  color: #fff;
  color: var(--brand_clr__1);
}

.block__link:hover, .block__link:focus {
  outline-style: none;
}

.block__overflow {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.block .header {
  z-index: 5;
  width: 100%;
  background-color: var(--brand_clr__2);
  padding: 4px 8px;
  display: block;
  position: sticky;
  top: 0;
  left: 0;
}

.block .content {
  flex-direction: column;
  display: flex;
  position: relative;
}

.block .footer {
  z-index: 5;
  height: 5px;
  width: 100%;
  background-color: var(--brand_clr__2);
  display: block;
  position: sticky;
  top: 100%;
  left: 0;
}

.block.--orders {
  flex-grow: 5;
  flex-basis: 600px;
}

.block.--orders .content {
  height: calc(100% - 43px);
  padding: 0 4px;
}

.block.--order-info {
  min-height: 200px;
  max-height: 350px;
  min-width: 250px;
  flex-grow: 3;
  flex-basis: 450px;
}

.block.--order-ttn {
  min-height: 300px;
  max-height: 350px;
  min-width: 250px;
  flex-grow: 2;
  flex-basis: 350px;
}

.block.--returns {
  flex-grow: 5;
  flex-basis: 600px;
}

.block.--returns .content {
  height: calc(100% - 43px);
  padding: 0 4px;
}

.block.--return-info {
  min-height: 200px;
  max-height: 350px;
  min-width: 250px;
  flex-grow: 3;
  flex-basis: 450px;
}

.block.--return-inspect {
  min-height: 300px;
  max-height: 350px;
  min-width: 250px;
  flex-grow: 2;
  flex-basis: 370px;
}

.block.--products {
  height: 250px;
  min-width: 250px;
  flex-grow: 5;
  flex-basis: 600px;
}

.block.--products .content {
  height: calc(100% - 43px);
  padding: 0 4px;
}

.block.--product-create {
  min-height: 200px;
  max-height: 350px;
  min-width: 250px;
  flex-grow: 3;
  flex-basis: 450px;
}

.block.--product-stock {
  min-height: 300px;
  max-height: 350px;
  min-width: 250px;
  flex-grow: 2;
  flex-basis: 350px;
}

.block.--order-create .content, .block.--order-stock .content, .block.--return-create .content, .block.--return-stock .content, .block.--product-create .content, .block.--product-stock .content {
  height: calc(100% - 53px);
}

.block.--order-create .header, .block.--order-stock .header, .block.--return-create .header, .block.--return-stock .header, .block.--product-create .header, .block.--product-stock .header {
  height: 48px;
}

@media screen and (min-width: 340px) {
  .block.--order-create .content, .block.--order-stock .content, .block.--return-create .content, .block.--return-stock .content, .block.--product-create .content, .block.--product-stock .content {
    height: calc(100% - 32px);
  }

  .block.--order-create .header, .block.--order-stock .header, .block.--return-create .header, .block.--return-stock .header, .block.--product-create .header, .block.--product-stock .header {
    height: 27px;
    padding-right: 8px;
  }
}

.table__tittle {
  text-align: center;
}

.table__subtittle {
  text-align: center;
  padding: 4px 0;
}

.table.--products {
  position: relative;
}

.table.--products .thead {
  position: sticky;
  top: 0;
  left: 0;
}

.table.--products .row {
  border-bottom: 1px solid var(--table-row-brdr-clr__primary);
}

.table.--products .row__th {
  color: #fff;
  white-space: nowrap;
  background-color: #686868;
  padding: 4px 0;
}

.table.--products .row:nth-child(2n) {
  background-color: var(--tr-bckgrnd_clr__even);
}

.table.--products .row:focus, .table.--products .row:hover {
  background-color: var(--tr-bckrnd-clr__hover);
}

.table.--products .row:active {
  outline: 2px solid var(--td-outline-clr);
  border-color: #0000;
}

.table.--products .col, .table.--products .col__th {
  padding: 6px 8px;
}

.table.--products .col:focus, .table.--products .col:hover {
  outline: 2px solid var(--td-outline-clr);
}

.table.--products .col:active {
  background-color: var(--td-bckrnd-clr__hover);
  border-color: var(--td-bckrnd-clr__hover);
}

.table.--products .col.--1 {
  min-width: 220px;
}

.table.--products .col.--2 {
  min-width: 250px;
}

.table.--sizes .col, .table.--stock .col {
  border: 1px solid var(--table-row-brdr-clr__primary);
}

.form {
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  display: flex;
  position: relative;
}

.form .flex-box {
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  display: flex;
}

.form .zone {
  z-index: 1;
  width: calc(100% - 16px);
  border: 2px solid var(--icon-clr__primary);
  transition: all var(--timing-function__main);
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  padding: 14px 8px 8px;
  position: relative;
}

.form .zone__overflow {
  overflow: auto;
}

.form .zone__tittle {
  z-index: 1;
  transition: color var(--timing-function__main);
  background-color: #fff;
  padding: 2px;
  font-size: 14px;
  line-height: 1.2;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-60%);
}

.form .zone:focus-visible, .form .zone:focus, .form .zone:focus-within, .form .zone:hover {
  border-color: var(--brand_clr__1);
}

.form .zone:focus-visible .zone__tittle, .form .zone:focus .zone__tittle, .form .zone:focus-within .zone__tittle, .form .zone:hover .zone__tittle {
  color: var(--brand_clr__1);
}

.form .zone.--inputs, .form .zone.--foto-upload {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.form .zone.--table {
  background-color: var(--zone-special_clr);
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.form .zone.--decision-btns {
  z-index: 1;
  width: 100%;
  border-style: none;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px;
  display: flex;
  position: sticky;
  top: 100%;
}

.product-card__feedback {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.input__box {
  width: 100%;
}

.input__box:hover .input, .input__box:focus .input, .input__box:focus-visible .input, .input__box:focus-within .input {
  border-color: var(--brand_clr__1);
  outline: 1px solid var(--brand_clr__1);
}

.input__box:hover .input__label, .input__box:focus .input__label, .input__box:focus-visible .input__label, .input__box:focus-within .input__label {
  color: var(--brand_clr__1);
}

.input__box:hover .input__textarea, .input__box:focus .input__textarea, .input__box:focus-visible .input__textarea, .input__box:focus-within .input__textarea {
  border-color: var(--brand_clr__1);
  outline: 1px solid var(--brand_clr__1);
}

.input.--filter-founder {
  height: 30px;
  width: 150px;
  transition: all var(--timing-function__main);
  border: 2px solid #0000;
}

.input.--filter-founder:hover, .input.--filter-founder:focus-visible {
  border-color: var(--brand_clr__1);
  outline-style: none;
}

.--prod-create .input {
  width: 100%;
  height: 30px;
  border: 1px solid var(--icon-clr__primary);
  transition: all var(--timing-function__main);
  border-radius: 4px;
  margin-top: 4px;
  padding: 0 8px;
  display: block;
}

.--prod-create .input__label {
  letter-spacing: .05em;
  transition: all var(--timing-function__main);
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
}

.--prod-create .input__foto-box {
  text-align: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.--prod-create .input__foto-box:hover .input__foto-label, .--prod-create .input__foto-box:focus .input__foto-label, .--prod-create .input__foto-box:focus-visible .input__foto-label, .--prod-create .input__foto-box:focus-within .input__foto-label {
  border-color: var(--brand_clr__1);
}

.--prod-create .input__foto-box:hover .input__foto-add, .--prod-create .input__foto-box:focus .input__foto-add, .--prod-create .input__foto-box:focus-visible .input__foto-add, .--prod-create .input__foto-box:focus-within .input__foto-add {
  fill: var(--brand_clr__1);
  border-color: var(--brand_clr__1);
}

.--prod-create .input__foto-label {
  min-width: 70px;
  min-height: 70px;
  cursor: pointer;
  border: 2px solid var(--icon-clr__primary);
  transition: all var(--timing-function__main);
  background-color: #fff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.--prod-create .input__foto-add {
  color: inherit;
  vertical-align: middle;
  fill: var(--icon-clr__primary);
  border: 2px solid var(--icon-clr__primary);
  transition: all var(--timing-function__main);
  border-radius: 50%;
  padding: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 0;
  display: inline-block;
}

.--prod-create .input__foto-delete {
  position: absolute;
  top: 8px;
  right: 8px;
}

.--prod-create .input__foto-image {
  width: 100%;
}

.--prod-create .input__textarea {
  width: 100%;
  resize: none;
  border: 1px solid var(--icon-clr__primary);
  transition: all var(--timing-function__main);
  border-radius: 4px;
  margin-top: 4px;
  padding: 8px;
  display: block;
}

.--prod-create .input__textarea.--desription {
  height: 85px;
}

.--prod-create .input__textarea.--ext-comment, .--prod-create .input__textarea.--int-comment {
  height: 50px;
}

.--prod-create .input__table-type, .--prod-create .input__table-parameter {
  border: 2px solid #0000;
  display: block;
}

.--prod-create .input__table-type:hover, .--prod-create .input__table-type:focus, .--prod-create .input__table-type:focus-visible, .--prod-create .input__table-type:focus-within, .--prod-create .input__table-parameter:hover, .--prod-create .input__table-parameter:focus, .--prod-create .input__table-parameter:focus-visible, .--prod-create .input__table-parameter:focus-within {
  border-color: var(--brand_clr__1);
  outline-style: none;
}

.--prod-create .input__table-type {
  width: 60px;
}

.--prod-create .input__table-parameter {
  width: 100px;
}

.--prod-create .select__table-type, .--prod-create .select__table-parameter {
  border: 2px solid #0000;
  display: block;
}

.--prod-create .select__table-type:hover, .--prod-create .select__table-type:focus, .--prod-create .select__table-type:focus-visible, .--prod-create .select__table-type:focus-within, .--prod-create .select__table-parameter:hover, .--prod-create .select__table-parameter:focus, .--prod-create .select__table-parameter:focus-visible, .--prod-create .select__table-parameter:focus-within {
  border-color: var(--brand_clr__1);
  outline-style: none;
}

.--prod-create .select__table-type {
  width: 60px;
}

.--prod-create .select__table-parameter {
  width: 100%;
}

.--prod-stock .input__table-type {
  width: 60px;
}

.--prod-stock .input__table-atribute {
  width: 100px;
}

.--prod-stock .input__table-type, .--prod-stock .input__table-atribute {
  border: 2px solid #0000;
  display: block;
}

.--prod-stock .input__table-type:hover, .--prod-stock .input__table-type:focus, .--prod-stock .input__table-type:focus-visible, .--prod-stock .input__table-type:focus-within, .--prod-stock .input__table-atribute:hover, .--prod-stock .input__table-atribute:focus, .--prod-stock .input__table-atribute:focus-visible, .--prod-stock .input__table-atribute:focus-within {
  border-color: var(--brand_clr__1);
  outline-style: none;
}

.--prod-stock .select__table-type {
  width: 60px;
}

.--prod-stock .select__table-atribute {
  width: 100%;
}

.--prod-stock .select__table-type, .--prod-stock .select__table-atribute {
  border: 2px solid #0000;
  display: block;
}

.--prod-stock .select__table-type:hover, .--prod-stock .select__table-type:focus, .--prod-stock .select__table-type:focus-visible, .--prod-stock .select__table-type:focus-within, .--prod-stock .select__table-atribute:hover, .--prod-stock .select__table-atribute:focus, .--prod-stock .select__table-atribute:focus-visible, .--prod-stock .select__table-atribute:focus-within {
  border-color: var(--brand_clr__1);
  outline-style: none;
}

.product-card__input {
  width: 250px;
  height: 30px;
  transition: all var(--timing-function__main);
  border: 1px solid #0000;
  padding: 0 8px;
  display: block;
}

.product-card__input:hover {
  border-color: #448efd;
}

.product-card__input:focus-visible {
  border-color: #1c77ff;
  outline-style: none;
}

.button {
  letter-spacing: .05em;
  text-align: center;
  transition: all var(--timing-function__main);
  border: 1px solid #0000;
  line-height: 1.2;
  display: block;
}

.button.--for_menu {
  color: var(--brand_clr__1);
  background-color: var(--brand_clr__2);
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
}

.button.--for_menu:hover, .button.--for_menu:focus, .button.--for_menu:active {
  border-color: var(--brand_clr__1--accent);
}

.button.--decision {
  min-width: 100px;
  background-color: var(--btn-deciscon_clr__primary);
  transition: all var(--timing-function__main);
  border-bottom: 4px solid #0000;
  padding: 4px 12px 2px;
  font-size: 14px;
  font-weight: 500;
}

.button.--decision:hover, .button.--decision:focus {
  background-color: var(--btn-deciscon_clr__hover);
}

.button.--decision:active {
  background-color: var(--btn-deciscon_clr__active);
}

.button.--decision.--accept:hover, .button.--decision.--accept:focus {
  border-color: #54ff3e;
}

.button.--decision.--reset:hover, .button.--decision.--reset:focus {
  border-color: #fff23e;
}

.button.--decision.--decline:hover, .button.--decision.--decline:focus {
  border-color: #ff3e3e;
}

.button.--to-cart {
  color: #fff;
  background-color: var(--brand_clr__1--accent);
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
}

.button.--to-cart:hover, .button.--to-cart:focus, .button.--to-cart:focus-visible {
  background-color: var(--brand_clr__1);
}

.button.--to-cart:active {
  color: var(--brand_clr__1--accent);
  border-color: var(--brand_clr__1--accent);
  background-color: #fff;
}

.button.--send-feedback {
  color: #5e9eff;
  background-color: #fff;
  padding: 4px 8px;
  font-weight: 500;
}

.button.--send-feedback:hover, .button.--send-feedback:focus, .button.--send-feedback:focus-visible {
  color: #448efd;
}

.button.--send-feedback:active {
  color: #fff;
  background-color: #1c77ff;
}

.button.--pull-img-overlay {
  text-align: start;
  width: 100%;
  height: 36px;
  cursor: pointer;
  background-color: #ffffffb3;
  border-style: none;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 600;
}

.button.--pull-img-overlay:hover, .button.--pull-img-overlay:focus, .button.--pull-img-overlay:active {
  color: var(--brand_clr__1);
}

.button.--pull-img-overlay:focus + .--overlay.--top, .button.--pull-img-overlay:focus + .--overlay.--left, .button.--pull-img-overlay:focus + .--overlay.--right, .button.--pull-img-overlay:active + .--overlay.--top, .button.--pull-img-overlay:active + .--overlay.--left, .button.--pull-img-overlay:active + .--overlay.--right {
  transform: scale(1);
}

.filter__box {
  display: flex;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slick-dots {
  background-color: #ffffff40;
  position: sticky;
  bottom: 0;
  left: 0;
}

.slick__container {
  max-width: 480px;
  border-top: 1px solid #d8d8d880;
  border-bottom: 1px solid #d8d8d880;
  margin: 8px auto;
}

@media screen and (min-width: 480px) {
  .slick__container {
    max-width: 100%;
    border-left: 1px solid #d8d8d880;
    border-right: 1px solid #d8d8d880;
  }
}

.vendor-zone__header {
  border-bottom: 1px solid #d8d8d880;
  align-items: flex-start;
  gap: 10px;
  padding: 16px 8px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
}

.vendor-zone__logo {
  height: 36px;
  width: 64px;
  border: 1px solid #d8d8d880;
}

.vendor-zone__brand-name {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.product-card {
  height: 100%;
  max-width: 480px;
  background-color: #fff;
  position: relative;
}

.product-card__wrapper {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.product-card__top {
  padding: 4px 8px;
}

.product-card__name {
  padding: 2px 8px;
  font-size: 16px;
  font-weight: 700;
}

.product-card__sku {
  padding: 2px 8px;
  font-size: 14px;
}

.product-card__img-box {
  position: relative;
  overflow: hidden;
}

.product-card__img-box--wrapper {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.product-card__price {
  white-space: nowrap;
  padding: 8px;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
}

.product-card__cashback {
  white-space: nowrap;
  padding: 0 8px;
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: 700;
}

.product-card__bottom {
  min-height: 100px;
  border-bottom: 1px solid #d8d8d880;
  padding: 8px;
  position: sticky;
  top: 100%;
  left: 0;
}

.product-card .--overlay {
  width: 100%;
  height: calc(100% - 36px);
  transition: all var(--timing-function__main);
  background-color: #ffffffb3;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.product-card.--1 .--overlay.--top {
  transform-origin: center;
  transform: scaleX(0);
}

.product-card.--1 .--overlay.--left {
  transform-origin: 0;
  transform: scaleX(0);
}

.product-card.--1 .--overlay.--right {
  transform-origin: 100%;
  transform: scaleX(0);
}

.product-card.--2 .--overlay.--top {
  transform: translateY(-100%);
}

.product-card.--2 .--overlay.--left {
  transform: translateX(-100%);
}

.product-card.--2 .--overlay.--right {
  transform: translateX(100%);
}

.product-card.--3 .--overlay.--top {
  transform-origin: top;
  transform: scaleY(0);
}

.product-card.--3 .--overlay.--left {
  transform-origin: 0 100%;
  transform: scale(0);
}

.product-card.--3 .--overlay.--right {
  transform-origin: 100% 100%;
  transform: scale(0);
}

.product-card .card-imgs__wrapper {
  flex-wrap: wrap;
  gap: 5px;
  display: flex;
}

.product-card .card__img-small {
  width: calc(50% - 2.5px);
}

/*# sourceMappingURL=index.b07a87f3.css.map */
