*, :before, :after {
  box-sizing: border-box;
}

html {
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: #0000;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  color: #212121;
  letter-spacing: .05em;
  background-color: #fff;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

.outline {
  outline: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}

.section__margin8px {
  margin: 8px;
}

.section.--flex {
  flex-wrap: wrap;
  gap: 8px;
  display: flex;
}

.section__main {
  display: flex;
}

.section__autorTop {
  max-width: 480px;
  border-top: 1px solid #d8d8d880;
  border-bottom: 1px solid #d8d8d880;
}

@media screen and (min-width: 480px) {
  .section__autorTop {
    max-width: 100%;
    border-left: 1px solid #d8d8d880;
    border-right: 1px solid #d8d8d880;
  }
}

.container {
  max-width: 480px;
  flex-direction: column;
  gap: 8px;
  margin: 8px auto;
  display: flex;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
}

th, td {
  -webkit-user-select: none;
  user-select: none;
  border: 0;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

:root {
  --brand_clr__1: #2175f3e6;
  --brand_clr__1--accent: #2175f3;
  --brand_clr__1--light: #2175f380;
  --brand_clr__2: #fff;
  --brand_clr__2-hover: #e9e9e9;
  --background_clr__main: #fff;
  --zone-special_clr: #dbdbdb33;
  --text-clr__primary: #1a1a1a;
  --text-clr__secondary: #6b6b6b;
  --icon-clr__primary: gray;
  --tr-cell-bckgrnd_clr__even: #dadada7e;
  --tr-bckgrnd_clr__even: #dadada7e;
  --table-row-brdr-clr__primary: #c7c7c781;
  --tr-bckrnd-clr__hover: #89caff66;
  --td-bckrnd-clr__active: #89caffb3;
  --td-outline-clr: #89caff;
  --th-font-size__primary: 12px;
  --th-font-size__secondary: 14px;
  --th-font-weight: 700;
  --td-font-size__primary: 12px;
  --td-font-size__secondary: 14px;
  --btn-deciscon_clr__primary: #dbdbdb66;
  --btn-deciscon_clr__hover: #dbdbdb80;
  --btn-deciscon_clr__active: #dbdbdb;
  --header-shadow: 0px 0px 8px #00000080;
  --block-shadow: 0 0 8px #0003;
  --block-hdr-shadow: 0px 0px 5px #0003;
  --block-ftr-shadow: 0 0 5px #0003;
  --button-shadow-hover: 0px 1px 9px #0003;
  --button-shadow-active: 0px 1px 5px #0000001a;
  --brand-card_shadow: 0px 0px 6px #0000004d;
  --timing-function__main: 250ms cubic-bezier(.4, 0, .2, 1);
  --test-outline_d: 1px dashed tomato;
  --test-outline_s: 1px solid tomato;
}

.logo.box {
  color: #fff;
  background-color: var(--brand_clr__1--accent);
  border: 1px solid #0000;
  padding: 4px 8px;
}

.logo.box:hover, .logo.box:focus, .logo.box:focus-visible {
  background-color: var(--brand_clr__1);
}

@media screen and (min-width: 480px) {
  .logo.box {
    padding: 8px 16px;
  }
}

.logo .logo_link {
  letter-spacing: .05em;
  white-space: nowrap;
  font-family: Ralaway, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
}

.header {
  z-index: 100;
  background-color: var(--brand_clr__2);
  box-shadow: var(--header-shadow);
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
}

.menu__box {
  height: 100%;
  display: block;
  position: relative;
}

.menu__box:hover .nav__list, .menu__box:focus .nav__list, .menu__box:active .nav__list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: scaleX(1);
}

.menu__box .nav__list {
  min-width: 230px;
  box-shadow: var(--header-shadow);
  transform-origin: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform var(--timing-function__main), opacity var(--timing-function__main), visibility var(--timing-function__main);
  background-color: #ffffffd9;
  padding: 9px 1px;
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  transform: scaleX(0);
}

.menu__box .nav__link {
  letter-spacing: .06em;
  transition: all var(--timing-function__main);
  border: 1px solid #0000;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.2;
  display: block;
}

.menu__box .nav__link:hover {
  color: #fff;
  background-color: var(--brand_clr__1--accent);
}

.menu__box .nav__link:active {
  color: var(--brand_clr__1--accent);
  border-color: var(--brand_clr__1--accent);
  background-color: #0000;
}

.button {
  letter-spacing: .05em;
  text-align: center;
  transition: all var(--timing-function__main);
  border: 1px solid #0000;
  line-height: 1.2;
  display: block;
}

.button .btn-svg {
  pointer-events: none;
}

.button.--for_menu {
  color: var(--brand_clr__1--accent);
  background-color: var(--brand_clr__2);
  padding: 4px 8px;
  font-size: 18px;
  font-weight: 600;
}

.button.--for_menu:hover, .button.--for_menu:focus, .button.--for_menu:active {
  border-color: var(--brand_clr__1--accent);
}

@media screen and (min-width: 480px) {
  .button.--for_menu {
    padding: 8px 16px;
  }
}

.button.--decision {
  min-width: 100px;
  background-color: var(--btn-deciscon_clr__primary);
  transition: all var(--timing-function__main);
  border-bottom: 4px solid #0000;
  padding: 4px 12px 2px;
  font-size: 14px;
  font-weight: 500;
}

.button.--decision:hover, .button.--decision:focus {
  background-color: var(--btn-deciscon_clr__hover);
}

.button.--decision:active {
  background-color: var(--btn-deciscon_clr__active);
}

.button.--decision.--accept:hover, .button.--decision.--accept:focus {
  border-color: #54ff3e;
}

.button.--decision.--reset:hover, .button.--decision.--reset:focus {
  border-color: #fff23e;
}

.button.--decision.--decline:hover, .button.--decision.--decline:focus {
  border-color: #ff3e3e;
}

.button.--addToCart {
  width: -moz-fit-content;
  width: fit-content;
  width: 42px;
  height: 42px;
  fill: currentColor;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button.--addToCart .btn-svg {
  width: 24px;
  height: 24px;
}

.button.--addToCart:hover, .button.--addToCart:focus {
  fill: var(--brand_clr__1--accent);
}

.button.--addToCart:active {
  fill: var(--icon-clr__primary);
}

.button.--addToCart.--inCart {
  fill: #67ff5fb3;
}

.button.--addToCart.--inCart:hover, .button.--addToCart.--deleted {
  fill: #ff3737b3;
}

.button.--addToCart.--deleted:hover {
  fill: #67ff5fb3;
}

.button.--buyNow {
  color: #fff;
  background-color: var(--brand_clr__1--accent);
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
}

.button.--buyNow:hover, .button.--buyNow:focus, .button.--buyNow:focus-visible {
  background-color: var(--brand_clr__1);
}

.button.--buyNow:active {
  color: var(--brand_clr__1--accent);
  border-color: var(--brand_clr__1--accent);
  background-color: #fff;
}

.button.--send-feedback {
  color: #5e9eff;
  background-color: #fff;
  padding: 4px 8px;
  font-weight: 500;
}

.button.--send-feedback:hover, .button.--send-feedback:focus, .button.--send-feedback:focus-visible {
  color: #448efd;
}

.button.--send-feedback:active {
  color: #fff;
  background-color: #1c77ff;
}

.button.--pull-img-overlay {
  text-align: start;
  width: 100%;
  height: 36px;
  fill: currentColor;
  background-color: #ffffffb3;
  border-style: none;
  align-items: center;
  gap: 16px;
  padding: 4px 16px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
}

.button.--pull-img-overlay .btn-svg {
  pointer-events: none;
  height: 14px;
  width: 14px;
}

.button.--pull-img-overlay:hover, .button.--pull-img-overlay:focus, .button.--pull-img-overlay:active {
  color: var(--brand_clr__1);
}

.button.--pull-img-overlay:focus + .--overlay.--top, .button.--pull-img-overlay:focus + .--overlay.--left, .button.--pull-img-overlay:focus + .--overlay.--right, .button.--pull-img-overlay:active + .--overlay.--top, .button.--pull-img-overlay:active + .--overlay.--left, .button.--pull-img-overlay:active + .--overlay.--right {
  z-index: 2;
  pointer-events: all;
  transform: scale(1);
}

.button.--pull-img-overlay:focus + .--overlay.--center, .button.--pull-img-overlay:active + .--overlay.--center {
  opacity: 1;
  pointer-events: all;
}

.button.--pull-img-overlay.--selected + .--overlay.--top, .button.--pull-img-overlay.--selected + .--overlay.--left, .button.--pull-img-overlay.--selected + .--overlay.--right {
  z-index: 2;
  pointer-events: all;
  transform: scale(1);
}

.button.--pull-img-overlay.--selected + .--overlay.--center {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.button.--close-modal {
  width: 30px;
  height: 30px;
  fill: #000;
  transition: box-shadow var(--anim-main-timing-function);
  background-color: #fff;
  border: 1px solid #0000001a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
}

.button.--close-modal svg {
  fill: #000;
  width: 12px;
  height: 12px;
}

.button.--autorZone-filter {
  height: 34px;
  width: 34px;
  min-width: 34px;
  background-color: #0000;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  display: flex;
}

.button.--autorZone-filter .btn-svg {
  width: 60%;
  height: 60%;
}

.button.--autorZone-filter:hover, .button.--autorZone-filter:focus, .button.--autorZone-filter:focus-visible {
  fill: var(--brand_clr__1--accent);
}

.button.--autorZone-filter:active {
  fill: var(--icon-clr__primary);
}

.button.--card-action {
  height: 30px;
  width: 30px;
  min-width: 30px;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.button.--card-action .btn-svg {
  width: 80%;
  height: 80%;
}

.button.--card-action:hover, .button.--card-action:focus, .button.--card-action:focus-visible {
  fill: var(--brand_clr__1--accent);
}

.button.--card-action:active {
  fill: var(--icon-clr__primary);
}

.button.--open-autorCardList {
  height: 34px;
  width: 34px;
  min-width: 34px;
  fill: var(--icon-clr__primary);
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.button.--open-autorCardList .btn-svg {
  width: 60%;
  height: 60%;
}

.button.--open-autorCardList:hover, .button.--open-autorCardList:focus, .button.--open-autorCardList:focus-visible {
  fill: var(--brand_clr__1--accent);
}

.button.--open-autorCardList:active {
  fill: var(--icon-clr__primary);
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slick__container {
  max-width: 100%;
  position: relative;
}

.slick-dots {
  background-color: #ffffff40;
  position: sticky;
  bottom: 0;
  left: 0;
}

.autorZone__header {
  z-index: 5;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d880;
  align-items: center;
  gap: 4px;
  padding: 0 8px;
  display: flex;
  position: relative;
}

.autorZone__logoImg {
  width: 64px;
}

.autorZone__autorName {
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all var(--timing-function__main);
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  overflow: hidden;
}

.autorZone__autorInfo {
  height: 34px;
  -webkit-user-select: none;
  user-select: none;
  flex-grow: 1;
  justify-content: start;
  align-items: center;
  display: flex;
  position: relative;
}

.autorZone__autorInfo:hover .autorZone__autorInfo-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.autorZone__autorInfo-list {
  max-width: 100%;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all var(--timing-function__main);
  background-color: #0009;
  border-radius: 2px;
  padding: 8px;
  font-size: 12px;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
}

.autorZone__autorInfo-list:before {
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  transition: all var(--timing-function__main);
  border: 5px solid #0000;
  border-bottom-color: #0009;
  margin-top: -5px;
  position: absolute;
  bottom: 100%;
  left: 10px;
}

.card {
  height: 100%;
  max-width: 480px;
  position: relative;
}

.card__imgslist {
  flex-wrap: wrap;
  gap: 2px;
  display: flex;
}

.card__imgslist-Item {
  width: calc(50% - 1px);
}

.card__actions-box {
  gap: 8px;
  display: flex;
}

.card__timeToBuy {
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  display: flex;
}

.card__social-list {
  gap: 4px;
  display: flex;
}

.card__social-link {
  fill: var(--icon-clr__primary);
  transition: all var(--timing-function__main);
  border: 1px solid #0000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
}

.card__social-link .link-svg {
  pointer-events: none;
  width: 24px;
  height: 24px;
}

.card__social-link:hover, .card__social-link:focus, .card__social-link:focus-visible {
  color: var(--brand_clr__1--accent);
  fill: var(--brand_clr__1--accent);
}

.card__social-link:active {
  background-color: var(--brand_clr__1--accent);
  fill: #fff;
}

.card__info {
  min-height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d880;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  display: flex;
  position: sticky;
  top: 100%;
  left: 0;
}

.card__info-top {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  display: flex;
}

.card__info-name {
  font-size: 14px;
  font-weight: 600;
}

.card__info-sku {
  font-size: 12px;
}

.card__price {
  white-space: nowrap;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
}

.card__price-box {
  align-items: center;
  gap: 8px;
  display: flex;
}

.card__cashback {
  white-space: nowrap;
  padding: 0 8px;
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: 700;
}

.card__forBuyBtns-box {
  align-items: center;
  gap: 8px;
  display: flex;
}

.card.--main {
  position: relative;
  overflow: hidden;
}

.card.--main-img__container {
  background-color: #fff;
  position: relative;
}

.card.--main--overlay {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.card .look__list {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.card .look__marker {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  box-shadow: 0 0 5px #00000080;
}

.card .look__marker-price {
  font-weight: 600;
}

.card .look__marker.--selected .look__link-box {
  z-index: 2;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.card .look__item-price {
  font-weight: 600;
}

.card .look__link {
  color: inherit;
  transition: opacity var(--timing-function__main), background-color var(--timing-function__main), transform var(--timing-function__main);
  background-color: #ffffffb3;
  padding: 8px;
  font-size: 12px;
  display: block;
  position: relative;
}

.card .look__link-box {
  opacity: 0;
  pointer-events: none;
  transition: all var(--timing-function__main);
  padding-left: 7px;
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.card .look__link:before {
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  transition: all var(--timing-function__main);
  border: 7px solid #0000;
  border-right-color: #ffffffb3;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  right: 100%;
}

.card .look__link:hover {
  background-color: #ffffffe6;
}

.card .look__link:hover:before {
  border-right-color: #ffffffe6;
}

.card .table.--card-details .col {
  vertical-align: top;
  min-height: 20px;
  padding: 4px;
  font-size: 16px;
}

.card .table.--card-details .col.--1 {
  white-space: nowrap;
}

.card .table.--card-details .col a {
  text-decoration: underline;
}

.card .table.--card-details .col a:hover {
  color: var(--brand_clr__1);
}

.card .--overlay {
  width: 100%;
  height: calc(100% - 36px);
  transition: all var(--timing-function__main);
  width: 100%;
  height: calc(100% - 36px);
  transition: all var(--timing-function__main);
  background-color: #ffffffb3;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.card.--1 .--overlay {
  pointer-events: none;
}

.card.--1 .--overlay.--top {
  transform-origin: center;
  transform: scaleX(0);
}

.card.--1 .--overlay.--left {
  transform-origin: 0;
  padding: 14px;
  font-size: 14px;
  transform: scaleX(0);
}

.card.--1 .--overlay.--right {
  transform-origin: 100%;
  transform: scaleX(0);
}

.card.--1 .--overlay.--center {
  opacity: 0;
  pointer-events: all;
  background-color: #0000;
}

.card.--1 .--overlay.--center:hover {
  opacity: 1;
}

.card.--2 .--overlay {
  pointer-events: none;
}

.card.--2 .--overlay.--top {
  transform: translateY(-100%);
}

.card.--2 .--overlay.--left {
  padding: 8px;
  font-size: 14px;
  transform: translateX(-100%);
}

.card.--2 .--overlay.--right {
  transform: translateX(100%);
}

.card.--2 .--overlay.--center {
  opacity: 0;
  pointer-events: all;
  background-color: #0000;
}

.card.--2 .--overlay.--center:hover {
  opacity: 1;
}

.card.--3 .--overlay {
  pointer-events: none;
}

.card.--3 .--overlay.--top {
  transform: translateY(-100%);
}

.card.--3 .--overlay.--left {
  transform-origin: 0 100%;
  padding: 8px;
  font-size: 14px;
  transform: scale(0);
}

.card.--3 .--overlay.--right {
  transform-origin: 100% 100%;
  transform: scale(0);
}

.card.--3 .--overlay.--center {
  opacity: 0;
  pointer-events: all;
  background-color: #0000;
}

.card.--3 .--overlay.--center:hover {
  opacity: 1;
}

.modal {
  height: 98%;
  max-height: 98%;
  width: 96%;
  max-width: 96%;
  transition: transform var(--anim-main-timing-function), visibility var(--anim-main-timing-function);
  background-color: #fff;
  border-radius: 4px;
  flex-direction: column;
  padding: 40px 10px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
  box-shadow: 0 1px 3px #0000001f, 0 1px 1px #00000024, 0 2px 1px #0003;
}

.modal .overflow {
  overflow: auto;
}

@media screen and (min-width: 500px) {
  .modal {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    height: -moz-fit-content;
    height: fit-content;
    max-height: 98%;
    min-width: 480px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: -moz-fit-content;
    height: fit-content;
    max-height: 700px;
    max-width: 1000px;
  }
}

.backdrop {
  z-index: 1010;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--anim-main-timing-function), visibility var(--anim-main-timing-function);
  background-color: #0003;
  position: fixed;
  top: 0;
  left: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%)scale(.8);
}

/*# sourceMappingURL=index.b07a87f3.css.map */
